python=3.7.1
bokeh==1.0.2
google-api-core==1.11.1
google-auth==1.6.3
google-cloud-bigquery==1.14.0
google-cloud-core==1.0.2
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
matplotlib==3.0.2
nltk==3.4
numpy==1.15.4
pandas==0.23.4
requests==2.21.0
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
tqdm==4.28.1
webencodings==0.5.1
